body {
  background-color: black;
  color: #007bff;
}
button.navbar-toggler {
  border-color: rgb(57, 57, 175);
  color: rgb(57, 57, 175);
}
.riderConf {
  text-align: center;
}
h1.title {
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 10%;
}

div.userHome {
  text-align: center;
}
div.historyBlock {
  text-align: center;
}
h3.header {
  text-align: center;
}
.authform {
  text-align: center;
  margin-top: 10%;
}
form {
  text-align: center;
  margin-top: 10%;
}
input {
  background-color: rgb(76, 73, 82);
  border-style: none;
  margin-bottom: 5px;
  border-radius: 5px;
}
button {
  border-radius: 5px;
  background-color: #0d3968;
  border-style: none;
}
button.select {
  text-align: center;
}
/* .card	{
	 */
/* width: 13%;
} */
div.card {
  background-color: black;
  border-style: solid;
  border-color: #007bff;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 2%;
}
.actionRoot {
  text-align: center;
  font-size: small;
}
div.actions {
  text-align: center;
}
div.actions a {
  color: #007bff;
  margin-left: 10px;
}
div.card-body {
  background-color: #007bff;
}

a {
  color: black;
  font-size: 60%;
}
b {
  margin: auto;
  flex-basis: auto;
  width: 60%;
  /* border-style: solid;
	border-radius: 10px;	
	border-width: thin; */
}
/* .text	{
	align-self: center;
	flex-basis: auto;
	height: 100px;
	width: 600px;
	margin-left: 20%;
	background-color: black;
	color: #007bff;
	border-style: none;

	
	
} */
.sidebar {
  flex-basis: auto;
  height: 40px;
  width: 40px;
  margin-top: 8%;
  border-style: solid;
  border-radius: 10px;
  border-width: thick;
  font-size: smaller;
}
div.subtitle {
  font-weight: bolder;
  text-align: center;
}
/* 
.aboutPage	{
	display: flex;
} */
.navbar-toggler-icon {
  color: rgb(57, 57, 175);
  font-size: large;
}
ul {
  font-size: x-small;
}
.container {
  display: flex;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
}

.nav-item.nav-link {
  color: rgb(57, 57, 175);
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
/* 
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin: 10px;
  overflow: auto;
} */
